@import url(http://fonts.googleapis.com/css?family=Cantora+One);
@import url(reset.css);
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	background-color:#999;
	background-image:url(img/binding_light.png)
}
/*:focus {
	outline: thin solid #F00;
}*/

#contentPane {
	width:80%;
	margin: 15px auto;
	background-color:#FFF;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	box-shadow: 5px 5px 5px #666;
	min-width: 180px;
}
.footerSpace {
padding-bottom: 50px;
}

.row {
	clear: both;
}
	
.col {
	float: left;
	width: 50%;
}

h1 {
	font-size:50px;
	font-weight:bold;
	font-family: 'Cantora One', sans-serif;
	color:#7f5da4;
	margin:0px;
	padding:6px;
}

h2 {
	font-family: 'Cantora One', sans-serif;
	font-size:250%;
	padding:6px;
}

h3 {
	font-size:150%;
	padding:6px;
}

h6{
	font-size:110%;
}

h4 {
	color:#7f5da4;
	padding:6px;
	font-weight:bold;
}

header img {
	float:left;
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 10px;
	max-width: 85%;
}

header {
	background-color:#333;
	padding-bottom:10px;
	margin-bottom:0px;
}
nav {
	/*clear:both;*/
	margin-top:6px;
	clear: both;
	margin-left: 20px;
}
nav a {
	color:#FFF;
	font-size:125%;
	font-weight:bold;
	text-decoration:none;
	padding-right:10px;
}
nav li {
	display: inline-block;
}


nav a:hover {
	color:#7f5da4;
}
article {
	padding:1px;
}

article img {
	float:right;
	padding:6px;
	width: 350;
}
article iframe {
	clear: right;
	padding:6px;
}

article p {
	padding:6px;
}

article a {
	color:#03C;
	text-decoration:none;
}

article a:hover {
	text-decoration:underline;
}

footer {
	padding:6px;
	clear: both;
	background-color:#333;
	color: white;
}
.scrolledFooter {
	position:fixed;
	bottom:0px;
	width:100%;
	left:0px;
}

footer p {
	font-size:50%;
}

.line-divide {
	border-top: thin solid #999;
}

ul {
	margin-left:30px;
}

li {
	margin-bottom:4px;
}

dl{
	padding:6px;
}

dt {
	font-weight:bold;
}

dd {
	margin-left:15px;
}

@media (max-width: 767px){
	.col {
		float:none;
		width:100%;
	}
	
	.row {
		min-width: 300px;
	}
	#contentPane {
		width: 100%;
	}
	article img {
		max-width: 50%;
	}
}
@media (max-width: 480px){
	body {
		font-size: 11px;
	}
	article img {
		display: none;
	}
	header img {
		float:left;
		margin-right: 2px;
		margin-left: 0px;
		margin-top: 0px;
		max-width: 90%;
	}	
}