@import url(http://fonts.googleapis.com/css?family=Cantora+One);
@import url(reset.css);
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 13px;
	background-color:#999;
	background-image:url(img/binding_light.png)
}

.contentPane {
	width:80%;
	margin: 15px auto;
	background-color:#FFF;
	padding:0px;
	box-shadow: 5px 5px 5px #666;
}

h1 {
	font-size:50px;
	font-weight:bold;
	font-family: 'Cantora One', sans-serif;
	color:#7f5da4;
	margin:0px;
	padding:6px;
}

h2 {
	font-family: 'Cantora One', sans-serif;
	font-size:250%;
	padding:6px;
}

h3 {
	font-size:150%;
	padding:6px;
}

h6{
	font-size:110%;
}

h4 {
	color:#7f5da4;
	padding:6px;
	font-weight:bold;
}

header img {
	float:left;
	margin-right: 10px;
}

header {
	background-color:#333;
	padding-bottom:10px;
	margin-bottom:0px;
}
nav {
	/*clear:both;*/
	margin-top:6px;
}
nav a {
	color:#FFF;
	font-size:125%;
	font-weight:bold;
	text-decoration:none;
	padding-right:10px;
}

nav a:hover {
	color:#7f5da4;
}
article {
	padding:1px;
}

article img {
	float: right;
	padding:6px;
}

article p {
	padding:6px;
}

article a {
	color:#03C;
	text-decoration:none;
}

article a:hover {
	text-decoration:underline;
}

footer {
	padding:6px;
	clear: both;
	background-color:#333;
	color: white;
}

footer p {
	font-size:50%;
}

ul {
	margin-left:30px;
}

li {
	margin-bottom:4px;
}

dl{
	padding:6px;
}

dt {
	font-weight:bold;
}

dd {
	margin-left:15px;
}